RewriteEngine On

Redirect 301 /index.html /
Redirect 301 /about_us.html /about
Redirect 301 /services.html /services
Redirect 301 /projects.html /projects
Redirect 301 /clients.html /clients
Redirect 301 /contact_us.html /contact
Redirect 301 /carrers.html /careers
Redirect 301 /endurance.html /endurance

RewriteRule ^about/?$ about.html [L]
RewriteRule ^services/?$ services.html [L]
RewriteRule ^projects/?$ projects.html [L]
RewriteRule ^clients/?$ clients.html [L]
RewriteRule ^contact/?$ contact.html [L]
RewriteRule ^careers/?$ careers.html [L]
RewriteRule ^endurance/?$ endurance.html [L]
